@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 20px 0 20px;
            grid-template-columns: repeat(2,410px);
            column-gap: 100px;
        }
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .menu {
        &__link {
            a {
                text-decoration: none;
            }
            &:hover {
                &:before {
                    background-color: transparent;
                    border-color: #000;
                }
            }
        }
    }
    .subtitle {
        font-size: 30px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__skills {
            grid-template-columns: 380px;
            &-item {
                grid-template-columns: 40px 320px;
                gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 60px 0px 0 0px;
            grid-template-columns: repeat(2,335px);
            column-gap: 50px;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(3,270px);
        }
        &__block {
            padding: 30px 20px 25px 20px;
        }
        &__metric {
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,70px);
        }
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
    .subtitle {
        &_promo {
            line-height: 39px;
            font-size: 28px;
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                gap: 20px;
            }
        }
    }
    .resume {
        padding-top: 40px;
        &__wrapper {
            padding-top: 40px;
            grid-template-columns: 1fr;
        }
        &__column {
            margin-bottom: 40px;
        }
    }
    .skills {
        padding-top: 0;
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(4,270px);
        }
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        font-size: 16px;
    }
    .subtitle {
        font-size: 24px;
        &_promo {
            font-size: 26px;
            width: 290px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url("../img/main_bg.jpg") no-repeat 60%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
    }
    .skills {
        &__wrapper {
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(7, 270px);
        }
        &__metric {
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(6,70px);
        }
    }
}