.resume {
    padding-top: 120px;
    &__wrapper {
        padding: 60px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title{
            position: relative;
            padding-left: 35px;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            &:before {
                content: '';
                position: absolute;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                width: 15px;
                height: 15px;   
                background-color: $main-color;
                border-radius: 100%;
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0px;
                    background-color: #000
                }
            }
        }
    }
    &__item {
        position: relative;
        &:before {
            content: '';
            height: 1px;
            width: 43px;
            position: absolute;
            background-color: #000;
            top: 68px;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
        }
        &-body {
            margin-top: 12px;
            padding-left: 43px;
        }
        &-icon {
            position: absolute;
            padding: 14px 0 0 17px;
            top: 50px;
            left: 43px;
            @include before_circle;
        }
        &-title {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            margin-bottom: 0;
        }
        &-location {
            margin-top: 5px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
        &-body {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
        }
    }
}
