
.title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    &_promo {
        padding-left: 10px;
        @include before_circle;
        &:before {
            top: -25%;
        }
    }
    &_about{
        padding-left: 12px;
        padding-top: 5px;
        @include before_circle;
    }
    &_resume {
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &_skills {
        text-align: center;
        @include before_circle;
        &:before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    &_promo {
        margin-top: 10px;
        width: 532px;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
    }
    &_about {
        margin-top: 6px;
    }
    &_resume {
        text-align: center;
    }
    &_skills {
        text-align: center;
    }
}

.divider {
    margin: 25px auto 0;
    width: 60px;
    height: 3px;
    background-color: $main-color;
    border: none;
    &_about {
        margin: 0;
    }
    &_skills {
        margin: 0 auto;
    }
}


